# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
dist/
build/

# Vite
.vite/

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Runtime files
*.pid
*.seed
*.pid.lock

# Cache
.cache/
.eslintcache

# Temporary files
tmp/
temp/